{% block layout %}
<style type="text/css">  
    @font-face {
        font-family: "Baskerville";
        src: url("{{ url_for('static', filename='LibreBaskerville-Regular.ttf') }}") format("truetype");
    }
    @font-face {
      font-family: "Frutiger";
      src: url("{{ url_for('static', filename='Frutiger.ttf') }}") format("truetype");
    }</style>
    <script type="text/javascript" src="{{ url_for('static', filename='code.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <h1><b>SyntaxML</b></h1><div class="nav">Test</div>
<p>AI + Code Playground</p>
<hr>
{% endblock %}
{% block body %}
<h1>Explore How Artificial Intelligence and Code Interact</h1>
<p>Machine Learning is made possible by increasing access to valuable data and compute.
There has <a href="http://learnbigcode.github.io/">been</a> <a href="https://sourced.tech/">a</a> 
<a href="http://www.msrconf.org/">growing</a> <a href="https://mast-group.github.io/">interest</a> in 
the field to explore how AI may interface with source code to either refine existing code or augment 
the capabilities of a programmer.

This webpage is a place to play with small-scale demos of programs inspired by this field of research.
word2code uses the word2vec library to classify predetermined labeled code snippets with a natural
language query.
</p>
{% endblock %}